<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

<div class="jumbotron text-center">
  <div class="container">
    <h2>Link to Your Github Account</h1>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/login/oauth/authorize?scope=gist&client_id=<%= id %>"><span class="glyphicon glyphicon-flash"></span> Link</a>
  </div>
</div>


</body>
</html>
