<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
      <a type="button" class="btn btn-lg btn-primary" href="#">Link Success!</a>
      <input type="text" id="hidden" data-key="<%= token %>" hidden />
  </div>
</div>


</body>
</html>
